#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp form .form-content li p {
    margin: 0;
    padding: 0;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

#kendoUiMobileApp #navigation-container .active {
    background: #10c4b2;
    color: #fff;
}

#kendoUiMobileApp #navigation-container .active:after {
    color: #fff;
}

#kendoUiMobileApp.km-nova #navigation-container.km-tabstrip .km-button {
    vertical-align: middle;
}


#kendoUiMobileApp.km-nova p {
    margin-left: 1rem;
    margin-right: 1rem;
  
    
}

#kendoUiMobileApp.km-nova span.km-switch {
    color: #ff4350;
}

#kendoUiMobileApp.km-nova span.km-switch.km-switch-on input[type=checkbox]:checked + span + span {
    border-color: #ff4350;
    background-color: #ff4350;
}

#kendoUiMobileApp .unsupported-preview {
    text-align: center;
    margin-top: 12rem;
}

#kendoUiMobileApp .info-icon {
    margin: 0 auto;
    width: 3.3rem;
    height: 3.3rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAABIklEQVRoge3YMU4CURDG8R+KqImGxNoTWNgYqSgtvYBn8EY2nkE7LTwItbGUwhgLFSxgLTS4i4w+SOafTDc73/vydva9HZIkSZIlooNrPM6IK2wUW10DehjXRC9ScC2ymMkOROQ0JtrAv5MGvjAKyinGLgZmN/AAO5GCrchiU9rY9313R7jH2x9oJslvieqBU5z5+Zowwh0ugjTD6OBF/RWiioNI8YhzYBtbc+TvBWh+kiexwt/1CAPPuMR7QK3i9NU3cT9SMHugNGmgNGmgNCtvYD2ozjHOcYLDmtxNHOEJD0H6C9HGUPPbaBXD6bPF6Zp/8VV0FxVf+R6IMLDInGdpZkS35n99biKEo/6JWyazoKaj81eTGdE4SD9JkiRJVpMPXjloDVm2S04AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
}

#kendoUiMobileApp .editableListItem span {
    float: left;
}

#kendoUiMobileApp .km-content .details-content .editableListItem {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kendoUiMobileApp .km-content .details-content p {
    padding: 1rem;
    margin: 0;
}

#kendoUiMobileApp .km-content .details-content .editableListItem:first-of-type {
    border-top: 0;
}

#kendoUiMobileApp .details-content .editableListItem + .editableListItem {
    border-top: 0;
}

#kendoUiMobileApp .km-content li label:not(.km-label-above) > span:not(.km-widget),
#kendoUiMobileApp .editableListItem > span {
    display: inline-block;
    word-break: break-word;
    width: 30%;
    padding-right: 10px;
}

#kendoUiMobileApp .km-content li p {
    margin-left: 0;
    margin-right: 0;
}

#kendoUiMobileApp .editableListItem {
    overflow: hidden;
    width: 100%;
}

#kendoUiMobileApp.km-nova .details-content {
    font-size: 1.2em;
}

#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="password"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="search"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="number"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="tel"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="url"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="email"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="month"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="color"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="week"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="date"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="time"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="datetime"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="datetime-local"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="text"]:not(.k-input),
#kendoUiMobileApp .km-list select:not([multiple]),
#kendoUiMobileApp .km-list label:not(.km-label-above) .k-dropdown-wrap,
#kendoUiMobileApp .km-list label:not(.km-label-above) textarea,
#kendoUiMobileApp .editableListItem > span:last-child {
    min-width: 70%;
}


/* primary buttons */

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
   /* background-color: #10c4b2;*/
    background-image: url('../images/button-green-bg-large.png');
    background-size: 100% 100%;
    border-color: transparent;
    font-family: 'sukhumvitreg', arial, sans-serif;
}
#kendoUiMobileApp.km-flat .button-group .km-button.primary2 {
 
    background-image: url('../images/button-red-bg-small.png');
    background-size: 100% 100%;
    border-color: transparent;
    font-family: 'sukhumvitreg', arial, sans-serif;
    color: #fff;
}

#kendoUiMobileApp.km-nova .button-group .km-button.primary {
    background-color: #10c4b2;
    border-color: #10c4b2;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    font-family: 'sukhumvitreg', arial, sans-serif;
    color: #000000;
    
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}


/* buttons */

#kendoUiMobileApp.km-nova .button-group .km-button.primary,
#kendoUiMobileApp.km-nova .km-button.km-state-active {
    color: #fff;
}


/* form label position */

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above {
    font-size: 0.8em;
}

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above select:not([multiple]),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    width: 100%;
    position: static;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
}

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    position: absolute;
}

#kendoUiMobileApp.km-nova .form-content .form-content-item .km-label-hidden input:not(.k-input):not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-nova .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#kendoUiMobileApp.km-nova .form-content .form-content-item .km-listview-label.km-label-above {
    width: auto;
}


/* custom filter */

#kendoUiMobileApp.km-flat .custom-filter input {
    font-size: 1.2em;
    padding: .3em 0 .3em 1.8em;
}

#kendoUiMobileApp.km-flat .km-filter-wrap:before {
    position: absolute;
    top: .25em;
}

#kendoUiMobileApp.km-nova .custom-filter input {
    padding: .5em 0 .5em 1.8em;
}

#kendoUiMobileApp.km-nova .km-filter-wrap:before {
    color: #cacdce;
}



/* START_CUSTOM_CODE_kendoUiMobileApp */


/* Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes */


/* END_CUSTOM_CODE_kendoUiMobileApp */

@font-face {
   font-family: 'sukhumvitlight';
      src: url('sukhumvitlight-webfont.eot');
      src: url('sukhumvitlight-webfont.eot?#iefix') format('embedded-opentype'),
           url('sukhumvitlight-webfont.woff') format('woff'),
           url('sukhumvitlight-webfont.ttf') format('truetype');

   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'sukhumvitreg';
      src: url('sukhumvitreg-webfont.eot');
      src: url('sukhumvitreg-webfont.eot?#iefix') format('embedded-opentype'),
           url('sukhumvitreg-webfont.woff') format('woff'),
           url('sukhumvitreg-webfont.ttf') format('truetype');

   font-weight: normal;
   font-style: normal;
}

.message {

     
    /*color: #ffffff;*/
    text-align: center;
    
}
.h1{
    font-weight: bold;
    font-size: 2em;
}
.h2{
    font-weight: bold;
    font-size: 1.7em;  
}
.h3{
        font-size: 2em;  
}
.h4{
    font-weight: bold;
    font-size: 1.3em; 
}
.h5{
    font-size: 1.1em; 
}

p {
   font-family: 'sukhumvitreg', arial, sans-serif;
   font-weight: normal;
   font-style: normal;
    
}
text {
   font-family: 'sukhumvitreg', arial, sans-serif;
   font-weight: normal;
   font-style: normal;
    
}
input{
     border:0px;
     width:80%;
}

span{
    font-family: 'sukhumvitreg', arial, sans-serif;
   font-weight: normal;
   font-style: normal;
}
.background_image{
    
    background-image: url('../images/pic-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #18a684;
}

.form_reg {
    font-size: 1em;
    width:80%;
    /*color: #ffffff;*/
}
.point{
    font-size: 1.5em;
    color: #fff;
}

.bt_proid
{
    width: 50%; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
}

.div100{
    height:100vh;
    width: 100%; 
    
}
.divmain{
    margin:3em 1em ;
    height:90vh;
    width: auto;
    background-color: #f1f1f1;
}
.divmain_reigister{
    margin:6em 1em ;
    height:84vh;
    width: auto;
    background-color: #f1f1f1;
}
.divmain_welcome{
    margin:2em 0em 0em 0em;
    height:90vh;
    width: auto;
    background-color: #f1f1f1;
}
.divmain_BIE{
    margin:3.5em 1em 3em 1em;
    height:79vh;
    width: auto;
    background-color: #f1f1f1;
}
.bgcolor{
    background-color: #f1f1f1;
}
.scrollViewinfo{
    
    height:74vh;
}
.scrollViewinfopage{
    margin:8.5em 1em 0em 1em;
}
.logo{
    margin:2em auto 0em auto;
    display:block;
    width: 44%; 
    height: auto;
}
.logoline{ 
    margin:0em auto ;
    display:block;
    width: 33%; 
    height: auto;
}
.fromsline{
    margin:0px auto;
    display:block;
    width: 95%; 
    height: auto;
}
.logo_reigister{
    margin:1em auto 0em auto;
    display:block;
    width: 37%; 
    height: auto;
    position: absolute; 
    top: 0%; 
    left: 32%;
}
.logo_welcome{
    position: absolute; 
    top: 0%; 
    left: 32%;
    margin:2em auto 0em auto;
    display:block;
    width: 33%; 
    height: auto;
}
.icon_welcome{
    width: 45%;
    margin:2em auto 0em auto;
}
.BIElogodiv{
    position: absolute; 
    top: 7%; 
    left: 0%;
    margin:0em 1em 0em 1em;
}
.BIElogoimg{
    width:100%;
}
.BIElogo_tdleft
{
    width:29%;
}
.BIElogo_tdcenter{
    width:42%;
}
.BIElogo_tdright{
    width:29%;
}
.logo_detailsgift{
    width:auto;
    height:4em;
    margin:0px auto;
    display:block;
}
.img_scrollview_gifts{
    width:100%;
    height:20vh;
}
.div_dot{
    margin:6em auto 1em auto;
    display:block;
    width: 60px;
}
.drawerwidth{
    width: 25%;
}
.drawermenu{
    height:100vh;
    width: 100%;
    background-color: #00e676;
}
.drawercontainer{
    width: 100%;
    margin:-0.25em auto 0em auto;
}
.drawericon{
    margin:0.8em 0.8em 0em 0em;
    width: 2.8em;
    height:auto;
}
.cerimg{
    width: 20%;
    height:auto;
}
.cerscroller{
    height: 30vh;
}
.giftscroller{
    height: 58vh;
}
.grid li 
{ 
     
     float: left;
     width: 50%; 
     height: auto; 
    /* border-right: 1px dotted #CCC;
     border-bottom: 1px dotted #CCC;*/
     
    
 }
.button_dot{
        width: 1em; 
        height: auto;
}
.from_table_signin{
    width: 75%;
    margin:4em auto 0em auto;
    display:block;
}
.from_table_signin_child{
    width: 75%;
    margin:1em auto 0em auto;
    display:block;
}
.right{
    float:right;
}
.left{
    float:left;
}
.bottom{
    vertical-align:bottom;
}
.center{
    margin:0em auto 0em auto;
    display:block;
}
.from_center{
    width: 75%;
    margin:0em auto 0em auto;
 
}
.tdwidth{
    width:100%;
}
.header_details_gifts_logo{
    margin:-1.5em 0em 0em 0em ;
}
.from_bg{
    background-image: url('../images/button-green-outline.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.icon_in_from{
    margin:0.3em 0.3em ;
    width: 2em;
    height: auto;
}
span.k-widget.k-tooltip-validation {
                    
                    width: 160px;
                    text-align: left;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    background: none;
                    box-shadow: none;
                    color: red;
                }
.datarootbottom{
    position: absolute; 
    bottom: 1px; 
    left: 20%; 
    width:80%;
}
.thankyou{
    margin-top: 4em;
}
.welcome{
    margin-top: 4em;
}
.red{
    color:red;
}
.bottom_position{
    position: absolute; 
    bottom: 1px; 
  
    width:95%;
}


.clock { position: absolute; top: 280px; left: 40vw; }
.clock-container { position: relative;}
.clock-12 { position: absolute; top: -125px; left: 0px; }
.clock-1 { position: absolute; top: -108.25px; left: 62.5px; }
.clock-2 { position: absolute; top: -62.5px; left: 108.25px; }
.clock-3 { position: absolute; top: 0px; left: 125px; }
.clock-4 { position: absolute; top: 62.5px; left: 108.25px; }
.clock-5 { position: absolute; top: 108.25px; left: 62.5px; }
.clock-6 { position: absolute; top: 125px; left: 0px; }
.clock-7 { position: absolute; top: 108.25px; left: -62.5px; }
.clock-8 { position: absolute; top: 62.5px; left: -108.25px; }
.clock-9 { position: absolute; top: 0px; left: -125px; }
.clock-10 { position: absolute; top: -62.5px; left: -108.25px; }
.clock-11 { position: absolute; top: -108.25px; left: -62.5px;}
.clock-text { position: absolute; top: 300px; left: 50%; transform: translate(-50%, 0); text-align: center; font-weight: bold; font-size: 20px; }
.btn-category-cancel { margin-top: 330px; margin-left: auto; margin-right: auto;}


@media(min-width:36em) {
    .divmain_reigister{
        margin:8em 1em ;
        height:82vh;        
    }
    .divmain_welcome{
        margin:4em 0em 0em 0em;
        height:85vh;
    }
    .divmain_BIE{
        margin:7em 1em 3em 1em;
        height:77vh;

    }
    .logo_reigister{
        left: 30%;
    }
    .logo_welcome{
        left: 33%;
    }
    .welcome{
    margin-top: 5em;
    }
    .div_dot{
    margin:8em auto 0px auto;        
    }
    .scrollViewinfopage{
        margin:9.5em 1em 0em 1em;
    }
    .img_scrollview_gifts{
        width:100%;
        height:30vh;
    }
    .logo_detailsgift{
        height:5em;
    }

    .h1{
        font-size:2.5em;
    }
    .h2{
        font-weight: bold;
        font-size: 2em;  
    }
    .h3{
        font-size: 2em;  
    }
    .h4{
        
        font-size: 1.7em;  
    }
    .h5{
        font-size: 1.4em; 
    }
    .datarootbottom{
        left: 30%; 
    }
     p{
        font-size: 1.2em; 
    }
	.clock { top: 300px; left: 45vw; }
	.clock-12 { top: -180px; left: 0px; }
	.clock-1 { top: -155.88px; left: 90px; }
	.clock-2 { top: -90px; left: 155.88px; }
	.clock-3 { top: 0px; left: 180px; }
	.clock-4 { top: 90px; left: 155.88px; }
	.clock-5 { top: 155.88px; left: 90px; }
	.clock-6 { top: 180px; left: 0px; }
	.clock-7 { top: 155.88px; left: -90px; }
	.clock-8 { top: 90px; left: -155.88px; }
	.clock-9 { top: 0px; left: -180px; }
	.clock-10 { top: -90px; left: -155.88px; }
	.clock-11 { top: -155.88px; left: -90px;}
    .clock-text { position: absolute; top: 300px; left: 35%; transform: translate(-50%, 0); font-size: 30px; }
    .btn-category-cancel { margin-top: 500px;}
}
/*
@media(min-width: 50em) {
    .h1{
    font-size:4em;
    }
			.clock { top: 300px; left: 48vw; }
			.clock-12 { top: -300px; left: 0px; }
			.clock-1 { top: -259.81px; left: 150px; }
			.clock-2 { top: -150px; left: 259.81px; }
			.clock-3 { top: 0px; left: 300px; }
			.clock-4 { top: 150px; left: 259.81px; }
			.clock-5 { top: 259.81px; left: 150px; }
			.clock-6 { top: 300px; left: 0px; }
			.clock-7 { top: 259.81px; left: -150px; }
			.clock-8 { top: 150px; left: -259.81px; }
			.clock-9 { top: 0px; left: -300px; }
			.clock-10 { top: -150px; left: -259.81px; }
			.clock-11 { top: -259.81px; left: -150px;}
            .clock-text { position: absolute; top: 300px; left: 30%; transform: translate(-50%, 0); font-size: 30px; }
            .btn-category-cancel { margin-top: 720px;}
}
*/
