<div data-role="view" data-title="" data-reload="true" data-layout="main" data-model="app.detailsproducts" data-show="app.detailsproducts.onShow" data-after-show="app.detailsproducts.afterShow"  >

    <div id = "headerdetailsproducts">
        <table class="message tdwidth">
            <tr>
                
                <td class="left">
                    <a id="Drawer_earnGreen" data-role="button" href="#appDrawer" data-rel="drawer" data-align="left">
                        <img src="imagesDrawer/icon-menu.png" class="drawericon" >
                    </a>
                </td>
                
                <td class="right">
                    <span class="point"> คะแนนสะสม  </span><br>
                    <span  class="point" data-format="n0" data-bind="text: data" ></span>
                </td>
            </tr>
        </table>
    </div>
    
    <div  id="headerdetailsproducts_divmain_BIE" class="divmain_BIE clock-container" >
        <table></table>
        <div data-role="scroller"   class="bgcolor scrollViewinfopage  giftscroller"  >
             <div class="bgcolor" >
                 <img class="img_scrollview_gifts" id="detailsproducts_main_img" data-bind="attr: { src: image_url }" />
                 
                      <div id="detailsproductsview" class="message" >
                        <span  class="h4" data-bind="text: name"></span><br>
                      </div>

                        <table  border="0" class="message  tdwidth ">
                            <tr>
                                <td>
                                      <ul id="scrollView_detailsproducts"  class="grid_Cert"></ul>
                                </td>
                            </tr>
                            
                        </table>
                         
                         <script id="scrollView_detailsproducts_tmp" type="text/x-kendo-template">
                                    <img class="logoCert" src="#: image_url #"/>
                         </script>
                 
                         <table class="message tdwidth"></table>
                        <p class="h4">
                            รายละเอียดสินค้า
                        </p>
                        
                        <div id="detailsproducts_desc_to_publish" style="margin:0px 10px;">
                            <span data-bind="text: name"></span>
                            <span data-bind="html: desc_to_publish" ></span>
                        </div>
                 
                        <p class="h4">
                            กรุณาระบุห้างสรรพสินค้า
                        </p>
                 
                         <div id = "radioselectedshop_detailsproducts">
         
                            <table  class="message tdwidth">
                             <tr>
                                 <td>
                                         <label>
                                             <img  src="store-logo/pic-logo01.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="17"
                                                    data-bind="checked: fields.selectedshop" />
                                             
                                         </label>
                                </td>
                                 <td>
                                         <label>
                                             <img  src="store-logo/pic-logo02.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="16"
                                                    data-bind="checked: fields.selectedshop" />
                                         </label>
                                 </td>
                                 <td>
                                         <label>
                                             <img  src="store-logo/pic-logo03.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="2"
                                                    data-bind="checked: fields.selectedshop" />
                                         </label>
                                 </td>
                                 <td>
                                         <label>
                                             <img  src="store-logo/pic-logo04.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="20"
                                                    data-bind="checked: fields.selectedshop" />
                                          </label>
                                 </td>
                                 <td>
                                          <label>
                                              <img  src="store-logo/pic-logo05.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="18"
                                                    data-bind="checked: fields.selectedshop" />
                                          </label>
                                 </td>     
                                 </tr>
                                
                                <tr>
                                 <td>
                                         <label>
                                             <img  src="store-logo/pic-logo06.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="21"
                                                    data-bind="checked: fields.selectedshop" />
                                             
                                         </label>
                                </td>
                                 <td>
                                         <label>
                                             <img  src="store-logo/pic-logo07.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="22"
                                                    data-bind="checked: fields.selectedshop" />
                                         </label>
                                 </td>
                                 <td>
                                         <label>
                                             <img  src="store-logo/pic-logo08.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="23"
                                                    data-bind="checked: fields.selectedshop" />
                                         </label>
                                 </td>
                                 <td>
                                         <label>
                                             <img  src="store-logo/pic-logo09.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="24"
                                                    data-bind="checked: fields.selectedshop" />
                                          </label>
                                 </td>
                                 <td>
                                          <label>
                                              <img  src="store-logo/pic-logo10.png" class="logo_store" /><br>
                                             <input type="radio" name="shop" value="25"
                                                    data-bind="checked: fields.selectedshop" />
                                          </label>
                                 </td>     
                                 </tr>
                                
                         </table>                             
                    </div>
                 
                     <div id = "confirms_earn" >
                         <div class="button-group">
                             <a class="primary" data-role="button" data-bind="events: { click: confirms }">ยืนยันสิทธิ์</a>
                         </div>
                         <div class="button-group">
                             <a class="primary2" data-role="backbutton" data-transition="slide:left reverse" >ยกเลิก</a>
                         </div>
                	</div>
    	     </div>
        </div>
        
    </div>
    
    <div id="headerdetailsproducts_BIElogodiv" class="BIElogodiv">

            <table >
            <tr>
                <td class="BIElogo_tdleft">
                    <img src="images/icon-point.png" class="BIElogoimg" data-bind="events: { click: information }" >
                    <span class="center message h5">
                        ฉลาดซื้อ<br>ฉลาดเลือก
                    </span>
                </td>
                <td style="BIElogo_tdcenter">
                    
                    <img src="images/icon-earn-point.png" class="BIElogoimg" data-bind="events: { click: earn }"  >
                    <span class="center message h4">
                        สะสมคะแนน
                    </span>
                </td>
                <td class="BIElogo_tdright">
                    <img src="images/icon-burn-point.png" class="BIElogoimg" data-bind="events: { click: burnPoint }">
                    <span class="center message h5">
                        รับสิทธิ์<br><br>
                    </span>
                </td>
            </tr>
        </table>
       
        </div>
</div>