<div data-role="view" data-title="" data-reload="true" data-layout="main" data-model="app.information" data-show="app.information.onShow" data-after-show="app.information.afterShow" >

    <div id = "headerinformation">
        <table class="message tdwidth">
            <tr>
                
                <td class="left">
                    <a id="Drawer_information" data-role="button" href="#appDrawer" data-rel="drawer" data-align="left">
                        <img src="imagesDrawer/icon-menu.png" class="drawericon" >
                    </a>
                </td>
                
                <td class="right">
                    <span class="point"> คะแนนสะสม  <br></span>
                    <span  class="point" data-bind="text: data" ></span>
                </td>
            </tr>
        </table>
    </div>


    <div  id="information_divmain_BIE" class="divmain_BIE clock-container" >
        <table></table>
        
        <div id="scrollViewinformation" data-role="scrollview" class="bgcolor">
            <div data-role="page" class="scrollViewinfo bgcolor">
                <div class="bgcolor scrollViewinfopage" >
                    <img src="components/information/images/pic-50point.jpg" class="drawercontainer_main">
                    <div data-role="scroller" class="tdwidth cerscroller" >
                      <table class="bgcolor tdwidth" >
                        <tr>
                            <td class="cerimg">
                                <img src="components/information/images/logo-50point-01.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลาดเขียว</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-50point-02.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลากลดคาร์บอนด์ฟุตพริ้นท์</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-50point-03.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลากคูลโหมด</span>        
                            </td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
            
            <div data-role="page" class="scrollViewinfo bgcolor">
                <div class="bgcolor scrollViewinfopage" >
                    <img src="components/information/images/pic-40point.jpg" class="drawercontainer_main">
                    <div data-role="scroller"  class="tdwidth cerscroller" >
                      <table class="bgcolor tdwidth" >
                        <tr>
                            <td class="cerimg">
                                <img src="components/information/images/logo-40point-01.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลากคาร์บอนด์ฟุตพริ้นท์</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-40point-02.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลากลดคาร์บอน</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-40point-03.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลากประหยัดไฟเบอร์ 5</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-40point-04.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">อุตสาหกรรมสีเขียว ระดับที่ 5</span>        
                            </td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
            
            <div data-role="page" class="scrollViewinfo bgcolor">
                <div class="bgcolor scrollViewinfopage" >
                    <img src="components/information/images/pic-30point.jpg" class="drawercontainer_main">
                    <div data-role="scroller"  class="tdwidth cerscroller" >
                      <table class="bgcolor tdwidth" >
                        <tr>
                            <td class="cerimg">
                                <img src="components/information/images/logo-30point-01.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลากประสิทธิภาพสูง</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-30point-02.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลากใบไม้เขียว</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-30point-03.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">โรงแรมสีเขียว (Green Hotel)</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-30point-04.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">สินค้าที่มีการผลิตที่เป็นมิตรกับสิ่งแวดล้อม</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-30point-05.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลาก G-Upcycle</span>        
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-30point-06.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลาก UPCYCLE CO2</span>           
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-30point-07.png" class="drawercontainer">
                            </td>
                            <td>
                                <span class="h5">ฉลาก Eco Self Declare</span>   
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <img src="components/information/images/logo-30point-08.png" class="drawercontainer">
                            </td>
                            <td>
                               <span class="h5">ฉลาก SCG Eco Value</span>   
                            </td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
       <div id="information_BIElogodiv" class="BIElogodiv">

            <table >
            <tr>
                <td class="BIElogo_tdleft">
                    <img src="images/icon-earn-point.png" class="BIElogoimg" data-bind="events: { click: informationModel.earn }"  >
                    <span class="center message h5">
                        สะสมคะแนน
                    </span>
                </td>
                <td style="BIElogo_tdcenter">
                    <img src="images/icon-point.png" class="BIElogoimg" data-bind="events: { click: informationModel.information }" >
                    <span class="center message h4">
                        ฉลาดซื้อฉลาดเลือก
                    </span>
                </td>
                <td class="BIElogo_tdright">
                    <img src="images/icon-burn-point.png" class="BIElogoimg" data-bind="events: { click: informationModel.burnPoint }">
                    <span class="center message h5">
                        รับสิทธิ์
                    </span>
                </td>
            </tr>
        </table>
       
        </div>

    
</div>