<div data-role="view" data-title="" data-layout="main" data-model="app.homeView"   data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    
    <div id="main_home" class="div100 bgcolorhome" >
        <table></table>
        
            <img src="images/logo-green-card.png" alt="Green card logo" class="logo">
            <span class="message h1 center" >
                แอปเดียวเขียวทั่วไทย
            </span>
            <img src="images/pic-green-line.jpg"  class="logoline">
        
        <div id="homeViewModel" data-role="validator" novalidate="novalidate" >
            <form>
             <table class="from_table_signin from_bg bgcolor" >
                 <tr>
                     <td >
                         <img src="images/icon-user-small.png" class="icon_in_from" >
                     </td>
                     <td class="tdwidth " > 
                         <input id="signinemail" name="signinemail" data-bind="value: homeViewModel.fields.email"  required validationMessage="***" placeholder="อีเมล์ของคุณ" type="email">
                         <span class="k-invalid-msg" data-for="signinemail"></span>
                     </td>
                 </tr>
             </table>
            
            <table class="from_table_signin_child from_bg bgcolor">
                 <tr>
                     <td>
                         <img src="images/icon-password-small.png" class="icon_in_from" >
                     </td>
                     <td class="tdwidth ">
                         <input  id="signinpassword" name="signinpassword"  data-bind="value: homeViewModel.fields.password" required validationMessage="***" placeholder="รหัสผ่าน" type="password">
                          <span class="k-invalid-msg" data-for="signinpassword"></span>
                     </td>
                 </tr>
             </table>
             </form>
             <div class="button-group logoline  " style="width:80%;"   >
                <a  class="primary" data-role="button" data-transition="slide" data-bind="events: { click: homeViewModel.submit }">เข้าสู่ระบบ</a>
             </div>
        </div>
        <table class=" from_center " >
                 <tr>
                     <td>
                         <span  data-bind="events: { click: homeViewModel.gotermofuse }" >
                             ลงทะเบียนใช้งานที่นี่
                         </span>
                     </td>
                     <!--    //////////////////  DEV   //////////////////  --->
                     <!--
                     <td class="right" >
                         <a  onclick="window.open('https://green.odooportal.com/web/reset_password', 'newwindow'); return false; ">
                             <span>
                                 ลืมรหัสผ่าน
                             </span>
                         </a>
                     </td>
                     -->
                     <!--   ///////////////////  Production  ///////////////////////////////  --->
                   
                      <td class="right" >
                         <a  onclick="window.open('https://greencard.deqp.go.th/web/reset_password', 'newwindow'); return false; ">
                             <span>
                                 ลืมรหัสผ่าน
                             </span>
                         </a>
                     </td>
                    
                 </tr>
             </table>
        
          <div class="background_image_main_bottom" >
            <table></table>
            <a   onclick="window.open('http://dataroot.asia', 'newwindow'); return false; ">
                <span class="datarootbottom message">
                แอปพลิเคชันโดยบริษัทดาต้ารูท เอเชีย จำกัด
                </span>
            </a>
        </div>
    </div>
  
    
</div>
