<div data-role="view" data-title="" data-layout="main-nonav" data-model="app.reigister" data-show="app.reigister.onShow" data-after-show="app.reigister.afterShow" >
      
      <div id="reigisterModel3" class="divmain_reigister clock-container">
          <table></table>
          <span class="message h1 center thankyou">
              ขอบคุณ
          </span>
          <span class="message h3 center">
              คุณทะเบียนสำเร็จแล้ว
          </span>
          <div class="button-group logoline bottom_position" >
                <a class="primary" data-role="button" data-bind="events: { click: reigisterModel.gowelcome }">เริ่มต้นการใช้งาน</a>
         </div>
       </div>
      <div id="reigisterModel3logo" >
        <img src="images/logo-green-card.png"  class="logo_reigister" >
      </div>
    
</div>